.top-subtitle {
    color: #e71212
}
.page-title {
    color: #454594
}
.navigation-list li {
    color:#807e24;
}
.navigation-list a {
    color: #b43051;
}
.content-info-one-title {
    color: #ffa600;
}
.one-text {
    color: #0d791b;
}
.one-text span {
    color: #dd1abd;
}
.content-info-two-title {
    color: #807e24;
}
.two-text {
    color: #dd621a
}
.two-text span {
    color:#ee2a10
}
.content-info-three-title {
    color:#ff07d6
}
.three-text {
    color: #371add;
}
.three-text span{
    color:#0d791b
}
.content-info-four-title {
    color:#f3b60e
}
.content-info-five-title {
    color:#ff1e00
}
.solo-title {
    color:#2d00f893
}
.solo-list li {
    color:#dd1a1a
}
.solo-list a {
    color:#58dd1a
}
.live-title {
    color:#174104
}
.with-groups-title {
    color:#f7e600
}
.footer-text span{
    color:#dd621a
}